/* MASTER TEMPLATE */ 
.secondary_main { position:relative; display:block; z-index:50; overflow:hidden;}
/* Sections */
.secondary_main section { position:relative; width:100%;}
.secondary_main section.dark { color:white;}
.secondary_main section.dark .layer.back { background-color:#023646;}
.secondary_main section.min-fitscreen { min-height:100vh;}
.secondary_main section.fitscreen { height:100vh;}


/* Intro (commune) */   
.secondary_main {
    background-image: url('../img/background-summer-section.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
}

#section-intro .letter .letter-back {
    position:absolute;
    top:-0.5em;
    left:-0.5em;
    width:calc(100% + 1em);
    width:-webkit-calc(100% + 1em);
    height:calc(100% + 1em);
    height:-webkit-calc(100% + 1em);  
}
 
#section-intro .letter .letter-back svg { 
    filter:blur(0.5px); 
    position:absolute; 
    top:0.5em; 
    left:0.5em; 
    width:calc(100% - 1em); 
    width:-webkit-calc(100% - 1em); 
    height:calc(100% - 1em); 
    height:-webkit-calc(100% - 1em);
}
#section-intro .letter .letter-mid { 
    position:absolute; 
    top:-0.5em; 
    left:-0.5em; 
    width:calc(100% + 1em); 
    width:-webkit-calc(100% + 1em); 
    height:calc(100% + 1em); 
    height:-webkit-calc(100% + 1em); 
    background-color:white; 
    -webkit-mix-blend-mode:darken; 
    mix-blend-mode:darken;
}
#section-intro .letter .letter-mid svg {
    filter:blur(0.5px);
    position:absolute;
    top:0.5em;
    left:0.5em;
    width: 100%;
    width:-webkit-calc(100% - 1em);
    height:calc(100% - 1em);
    height:-webkit-calc(100% - 1em);
}

#section-intro .letter .letter-mid .video { 
    position:absolute;  
    top:0; 
    left:0; 
    width:100%; 
    height:100%; background-image:url('img/home_c_waves.jpg'); 
    background-size:cover; 
    background-position:center center; 
    background-repeat:no-repeat; 
    -webkit-mix-blend-mode:lighten; 
    mix-blend-mode:lighten; 
    overflow:hidden;
}

#section-intro .letter .letter-mid .video video { 
    position:absolute; 
    top:0; 
    left:0; 
    width:100%; 
    height:100%; 
    object-fit:cover; 
    overflow:hidden;
}

#section-intro.seen .letter svg path.triggered {
    transition:stroke-dashoffset 1s ease-in-out 1s;
    -webkit-transition:stroke-dashoffset 1s ease-in-out 1s;
    stroke-dashoffset: 0 !important;
}


#section-intro .letter2 .letter-back2 {
    position:absolute;
    top:-0.5em;
    left:-0.5em;
    width:calc(100% + 1em);
    width:-webkit-calc(100% + 1em);
    height:calc(100% + 1em);
    height:-webkit-calc(100% + 1em);  
}
 
#section-intro .letter2 .letter-back2 svg { 
    filter:blur(0.5px); 
    position:absolute; 
    top:0.5em; 
    left:0.5em; 
    width:calc(100% - 1em); 
    width:-webkit-calc(100% - 1em); 
    height:calc(100% - 1em); 
    height:-webkit-calc(100% - 1em);
}
#section-intro .letter2 .letter-mid2 { 
    position:absolute; 
    top:-0.5em; 
    left:-0.5em; 
    width:calc(100% + 1em); 
    width:-webkit-calc(100% + 1em); 
    height:calc(100% + 1em); 
    height:-webkit-calc(100% + 1em); 
    background-color:white; 
    -webkit-mix-blend-mode:darken; 
    mix-blend-mode:darken;
}
#section-intro .letter2 .letter-mid2 svg {
    filter:blur(0.5px);
    position:absolute;
    top:0.5em;
    left:0.5em;
    width: 100%;
    width:-webkit-calc(100% - 1em);
    height:calc(100% - 1em);
    height:-webkit-calc(100% - 1em);
}

#section-intro .letter2 .letter-mid2 .video { 
    position:absolute;  
    top:0; 
    left:0; 
    width:100%; 
    height:100%; background-image:url('img/home_c_waves.jpg'); 
    background-size:cover; 
    background-position:center center; 
    background-repeat:no-repeat; 
    -webkit-mix-blend-mode:lighten; 
    mix-blend-mode:lighten; 
    overflow:hidden;
}

#section-intro .letter2 .letter-mid2 .video video { 
    position:absolute; 
    top:0; 
    left:0; 
    width:100%; 
    height:100%; 
    object-fit:cover; 
    overflow:hidden;
}

#section-intro.seen .letter2 svg path.triggered {
    transition:stroke-dashoffset 1s ease-in-out 1s;
    -webkit-transition:stroke-dashoffset 1s ease-in-out 1s;
    stroke-dashoffset: 0 !important;
}

#section-intro .letter3 .letter-back3 {
    position:absolute;
    top:-0.5em;
    left:-0.5em;
    width:calc(100% + 1em);
    width:-webkit-calc(100% + 1em);
    height:calc(100% + 1em);
    height:-webkit-calc(100% + 1em);  
}
 
#section-intro .letter3 .letter-back3 svg { 
    filter:blur(0.5px); 
    position:absolute; 
    top:0.5em; 
    left:0.5em; 
    width:calc(100% - 1em); 
    width:-webkit-calc(100% - 1em); 
    height:calc(100% - 1em); 
    height:-webkit-calc(100% - 1em);
}
#section-intro .letter3 .letter-mid3 { 
    position:absolute; 
    top:-0.5em; 
    left:-0.5em; 
    width:calc(100% + 1em); 
    width:-webkit-calc(100% + 1em); 
    height:calc(100% + 1em); 
    height:-webkit-calc(100% + 1em); 
    background-color:white; 
    -webkit-mix-blend-mode:darken; 
    mix-blend-mode:darken;
}
#section-intro .letter3 .letter-mid3 svg {
    filter:blur(0.5px);
    position:absolute;
    top:0.5em;
    left:0.5em;
    width: 100%;
    width:-webkit-calc(100% - 1em);
    height:calc(100% - 1em);
    height:-webkit-calc(100% - 1em);
}

#section-intro .letter3 .letter-mid3 .video { 
    position:absolute;  
    top:0; 
    left:0; 
    width:100%; 
    height:100%; background-image:url('img/home_c_waves.jpg'); 
    background-size:cover; 
    background-position:center center; 
    background-repeat:no-repeat; 
    -webkit-mix-blend-mode:lighten; 
    mix-blend-mode:lighten; 
    overflow:hidden;
}

#section-intro .letter3 .letter-mid3 .video video { 
    position:absolute; 
    top:0; 
    left:0; 
    width:100%; 
    height:100%; 
    object-fit:cover; 
    overflow:hidden;
}

#section-intro.seen .letter3 svg path.triggered {
    transition:stroke-dashoffset 1s ease-in-out 1s;
    -webkit-transition:stroke-dashoffset 1s ease-in-out 1s;
    stroke-dashoffset: 0 !important;
}

#section-intro .letter4 .letter-back4 {
    position:absolute;
    top:-0.5em;
    left:-0.5em;
    width:calc(100% + 1em);
    width:-webkit-calc(100% + 1em);
    height:calc(100% + 1em);
    height:-webkit-calc(100% + 1em);  
}
 
#section-intro .letter4 .letter-back4 svg { 
    filter:blur(0.5px); 
    position:absolute; 
    top:0.5em; 
    left:0.5em; 
    width:calc(100% - 1em); 
    width:-webkit-calc(100% - 1em); 
    height:calc(100% - 1em); 
    height:-webkit-calc(100% - 1em);
}
#section-intro .letter4 .letter-mid4 { 
    position:absolute; 
    top:-0.5em; 
    left:-0.5em; 
    width:calc(100% + 1em); 
    width:-webkit-calc(100% + 1em); 
    height:calc(100% + 1em); 
    height:-webkit-calc(100% + 1em); 
    background-color:white; 
    -webkit-mix-blend-mode:darken; 
    mix-blend-mode:darken;
}
#section-intro .letter4 .letter-mid4 svg {
    filter:blur(0.5px);
    position:absolute;
    top:0.5em;
    left:0.5em;
    width: 100%;
    width:-webkit-calc(100% - 1em);
    height:calc(100% - 1em);
    height:-webkit-calc(100% - 1em);
}

#section-intro .letter4 .letter-mid4 .video { 
    position:absolute;  
    top:0; 
    left:0; 
    width:100%; 
    height:100%; background-image:url('img/home_c_waves.jpg'); 
    background-size:cover; 
    background-position:center center; 
    background-repeat:no-repeat; 
    -webkit-mix-blend-mode:lighten; 
    mix-blend-mode:lighten; 
    overflow:hidden;
}

#section-intro .letter4 .letter-mid4 .video video { 
    position:absolute; 
    top:0; 
    left:0; 
    width:100%; 
    height:100%; 
    object-fit:cover; 
    overflow:hidden;
}

#section-intro.seen .letter4 svg path.triggered {
    transition:stroke-dashoffset 1s ease-in-out 1s;
    -webkit-transition:stroke-dashoffset 1s ease-in-out 1s;
    stroke-dashoffset: 0 !important;
}
#section-intro .letter5 .letter-back5 {
    position:absolute;
    top:-0.5em;
    left:-0.5em;
    width:calc(100% + 1em);
    width:-webkit-calc(100% + 1em);
    height:calc(100% + 1em);
    height:-webkit-calc(100% + 1em);  
}
 
#section-intro .letter5 .letter-back5 svg { 
    filter:blur(0.5px); 
    position:absolute; 
    top:0.5em; 
    left:0.5em; 
    width:calc(100% - 1em); 
    width:-webkit-calc(100% - 1em); 
    height:calc(100% - 1em); 
    height:-webkit-calc(100% - 1em);
}
#section-intro .letter5 .letter-mid5 { 
    position:absolute; 
    top:-0.5em; 
    left:-0.5em; 
    width:calc(100% + 1em); 
    width:-webkit-calc(100% + 1em); 
    height:calc(100% + 1em); 
    height:-webkit-calc(100% + 1em); 
    background-color:white; 
    -webkit-mix-blend-mode:darken; 
    mix-blend-mode:darken;
}
#section-intro .letter5 .letter-mid5 svg {
    filter:blur(0.5px);
    position:absolute;
    top:0.5em;
    left:0.5em;
    width: 100%;
    width:-webkit-calc(100% - 1em);
    height:calc(100% - 1em);
    height:-webkit-calc(100% - 1em);
}

#section-intro .letter5 .letter-mid5 .video { 
    position:absolute;  
    top:0; 
    left:0; 
    width:100%; 
    height:100%; background-image:url('img/home_c_waves.jpg'); 
    background-size:cover; 
    background-position:center center; 
    background-repeat:no-repeat; 
    -webkit-mix-blend-mode:lighten; 
    mix-blend-mode:lighten; 
    overflow:hidden;
}

#section-intro .letter5 .letter-mid5 .video video { 
    position:absolute; 
    top:0; 
    left:0; 
    width:100%; 
    height:100%; 
    object-fit:cover; 
    overflow:hidden;
}

#section-intro.seen .letter5 svg path.triggered {           
    transition:stroke-dashoffset 1s ease-in-out 1s;
    -webkit-transition:stroke-dashoffset 1s ease-in-out 1s;
    stroke-dashoffset: 0 !important;
}
#section-intro .letter6 .letter-back6 {
    position:absolute;
    top:-0.5em;
    left:-0.5em;
    width:calc(100% + 1em);
    width:-webkit-calc(100% + 1em);
    height:calc(100% + 1em);
    height:-webkit-calc(100% + 1em);  
}
 
#section-intro .letter6 .letter-back6 svg { 
    filter:blur(0.5px); 
    position:absolute; 
    top:0.5em; 
    left:0.5em; 
    width:calc(100% - 1em); 
    width:-webkit-calc(100% - 1em); 
    height:calc(100% - 1em); 
    height:-webkit-calc(100% - 1em);
}
#section-intro .letter6 .letter-mid6 { 
    position:absolute; 
    top:-0.5em; 
    left:-0.5em; 
    width:calc(100% + 1em); 
    width:-webkit-calc(100% + 1em); 
    height:calc(100% + 1em); 
    height:-webkit-calc(100% + 1em); 
    background-color:white; 
    -webkit-mix-blend-mode:darken; 
    mix-blend-mode:darken;
}
#section-intro .letter6 .letter-mid6 svg {
    filter:blur(0.5px);
    position:absolute;
    top:0.5em;
    left:0.5em;
    width: 100%;
    width:-webkit-calc(100% - 1em);
    height:calc(100% - 1em);
    height:-webkit-calc(100% - 1em);
}

#section-intro .letter6 .letter-mid6 .video { 
    position:absolute;  
    top:0; 
    left:0; 
    width:100%; 
    height:100%; background-image:url('img/home_c_waves.jpg'); 
    background-size:cover; 
    background-position:center center; 
    background-repeat:no-repeat; 
    -webkit-mix-blend-mode:lighten; 
    mix-blend-mode:lighten; 
    overflow:hidden;
}

#section-intro .letter6 .letter-mid6 .video video { 
    position:absolute; 
    top:0; 
    left:0; 
    width:100%; 
    height:100%; 
    object-fit:cover; 
    overflow:hidden;
}

#section-intro.seen .letter6 svg path.triggered {
    transition:stroke-dashoffset 1s ease-in-out 1s;
    -webkit-transition:stroke-dashoffset 1s ease-in-out 1s;
    stroke-dashoffset: 0 !important;
}

.summer-button {
    position: absolute;
    top: 87%;
    left: 20%;
    text-align: center;
    background: linear-gradient(to left, #08f700, #fbff00);
    border-radius: 20px;
    padding: 10px 10px;
    color: black;
    width: 250px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 900;
    transition-duration: 0.25s;
}


@media (min-width: 330px) {
    #section-intro .letter { 
        position:absolute; 
        top: 45%; 
        left:80%; 
        margin-top:-17em; 
        margin-left:-17em; 
        display:inline-block; 
        width:10em; 
        height:10em; 
        overflow:hidden;
    }   
    #section-intro .letter2 {
        position:absolute; 
        top: 36%; 
        left:70%;
        margin-top:-17em; 
        margin-left:-17em; 
        display:inline-block; 
        width:10em; 
        height:10em; 
        overflow:hidden;
    }
    #section-intro .letter3 {
        position:absolute; 
        top: 52%; 
        left:112%; 
        margin-top:-17em; 
        margin-left:-17em; 
        display:inline-block; 
        width:10em; 
        height:10em; 
        overflow:hidden;
    }
    #section-intro .letter4 {
        position:absolute; 
        top: 69%; 
        left:129%; 
        margin-top:-17em; 
        margin-left:-17em; 
        display:inline-block; 
        width:10em; 
        height:10em; 
        overflow:hidden;
    }
    #section-intro .letter5 {
        position:absolute; 
        top: 78%; 
        left:104%; 
        margin-top:-17em; 
        margin-left:-17em; 
        display:inline-block; 
        width:10em; 
        height:10em; 
        overflow:hidden;
    }
    #section-intro .letter6 {
        position:absolute; 
        top: 89%; 
        left: 84%; 
        margin-top:-17em; 
        margin-left:-17em; 
        display:inline-block; 
        width:10em; 
        height:10em; 
        overflow:hidden;
    }

    #section-intro .letter4 .letter-mid4 .video video {
        object-fit: inherit;
    }

    .summer-button {
        position: absolute;
        top: 87%;
        left: 20%;
        text-align: center;
    }
}


@media (min-width: 400px) {
    #section-intro .letter     { 
        position:absolute; 
        top: 55%; 
        left:70%; 
        margin-top:-17em; 
        margin-left:-17em; 
        display:inline-block; 
        width:10em; 
        height:10em; 
        overflow:hidden;
    }   
    #section-intro .letter2 {
        position:absolute; 
        top: 50%; 
        left:60%; 
        margin-top:-17em; 
        margin-left:-17em; 
        display:inline-block; 
        width:10em; 
        height:10em; 
        overflow:hidden;
    }
    #section-intro .letter3 {
        position:absolute; 
        top: 60%; 
        left:100%; 
        margin-top:-17em; 
        margin-left:-17em; 
        display:inline-block; 
        width:10em; 
        height:10em; 
        overflow:hidden;
    }
    #section-intro .letter4 {
        position:absolute; 
        top: 65%; 
        left:125%; 
        margin-top:-17em; 
        margin-left:-17em; 
        display:inline-block; 
        width:10em; 
        height:10em; 
        overflow:hidden;
    }
    #section-intro .letter5 {
        position:absolute; 
        top: 90%; 
        left:107%; 
        margin-top:-17em; 
        margin-left:-17em; 
        display:inline-block; 
        width:10em; 
        height:10em; 
        overflow:hidden;
    }
    #section-intro .letter6 {
        position:absolute; 
        top: 95%; 
        left: 85%; 
        margin-top:-17em; 
        margin-left:-17em; 
        display:inline-block; 
        width:10em; 
        height:10em; 
        overflow:hidden;
    }

    #section-intro .letter4 .letter-mid4 .video video {
        object-fit: inherit;
    }
    .summer-button {
        position: absolute;
        top: 77%;
        left: 15%;
        text-align: center;
    }
}

@media (min-width: 600px) {
    #section-intro .letter     { 
        position:absolute; 
        top: 80%; 
        left:45%; 
        margin-top:-17em; 
        margin-left:-17em; 
        display:inline-block; 
        width:10em; 
        height:10em; 
        overflow:hidden;
    }   
    #section-intro .letter2 {
        position:absolute; 
        top: 80%; 
        left:35%; 
        margin-top:-17em; 
        margin-left:-17em; 
        display:inline-block; 
        width:10em; 
        height:10em; 
        overflow:hidden;
    }
    #section-intro .letter3 {
        position:absolute; 
        top: 80%; 
        left:55%; 
        margin-top:-17em; 
        margin-left:-17em; 
        display:inline-block; 
        width:10em; 
        height:10em; 
        overflow:hidden;
    }
    #section-intro .letter4 {
        position:absolute; 
        top: 80%; 
        left:   79%; 
        margin-top:-17em; 
        margin-left:-17em; 
        display:inline-block; 
        width:10em; 
        height:10em; 
        overflow:hidden;
    }
    #section-intro .letter5 {
        position:absolute; 
        top: 80%; 
        left:94%; 
        margin-top:-17em; 
        margin-left:-17em; 
        display:inline-block; 
        width:10em; 
        height:10em; 
        overflow:hidden;
    }
    #section-intro .letter6 {
        position:absolute; 
        top: 78%; 
        left: 110%; 
        margin-top:-17em; 
        margin-left:-17em; 
        display:inline-block; 
        width:10em; 
        height:10em; 
        overflow:hidden;
    }

    #section-intro .letter4 .letter-mid4 .video video {
        object-fit: inherit;
    }
    .summer-button {
        position: absolute;
        top: 87%;
        left: 30%;
        text-align: center;
    }
}


@media (min-width: 500px) {
    #section-intro .letter     { 
        position:absolute; 
        top: 90%; 
        left:50%; 
        margin-top:-17em; 
        margin-left:-17em; 
        display:inline-block; 
        width:10em; 
        height:10em; 
        overflow:hidden;
    }   
    #section-intro .letter2 {
        position:absolute; 
        top: 90%; 
        left:40%; 
        margin-top:-17em; 
        margin-left:-17em; 
        display:inline-block; 
        width:10em; 
        height:10em; 
        overflow:hidden;
    }
    #section-intro .letter3 {
        position:absolute; 
        top: 90%; 
        left:68%; 
        margin-top:-17em; 
        margin-left:-17em; 
        display:inline-block; 
        width:10em; 
        height:10em; 
        overflow:hidden;
    }
    #section-intro .letter4 {
        position:absolute; 
        top: 90%; 
        left: 82%; 
        margin-top:-17em; 
        margin-left:-17em; 
        display:inline-block; 
        width:10em; 
        height:10em; 
        overflow:hidden;
    }
    #section-intro .letter5 {
        position:absolute; 
        top: 90%; 
        left:96%; 
        margin-top:-17em; 
        margin-left:-17em; 
        display:inline-block; 
        width:10em; 
        height:10em; 
        overflow:hidden;
    }
    #section-intro .letter6 {
        position:absolute; 
        top: 88%; 
        left: 113%; 
        margin-top:-17em; 
        margin-left:-17em; 
        display:inline-block; 
        width:10em; 
        height:10em; 
        overflow:hidden;
    }

    #section-intro .letter4 .letter-mid4 .video video {
        object-fit: inherit;
    }
    .summer-button {
        position: absolute;
        top: 77%;
        left: 35%;
        text-align: center;
    }
}


@media (min-width: 1000px) {
    #section-intro .letter {  
        position:absolute; 
        top: 90%; 
        left:34.3%; 
        margin-top:-17em; 
        margin-left:-17em; 
        display:inline-block; 
        width:20em; 
        height:20em; 
        overflow:hidden;
    }
    #section-intro .letter2 { 
        position:absolute; 
        top: 90%; 
        left:30%; 
        margin-top:-17em; 
        margin-left:-17em; 
        display:inline-block; 
        width:20em; 
        height:20em; 
        overflow:hidden;
    }
    #section-intro .letter3 { 
        position:absolute; 
        top: 90%; 
        left:50%; 
        margin-top:-17em; 
        margin-left:-17em; 
        display:inline-block; 
        width:20em; 
        height:20em; 
        overflow:hidden;
    }
    #section-intro .letter4 { 
        position:absolute; 
        top: 90%; 
        left:62%; 
        margin-top:-17em; 
        margin-left:-17em; 
        display:inline-block; 
        width:20em; 
        height:20em; 
        overflow:hidden;
    }
    #section-intro .letter5 { 
        position:absolute; 
        top: 90%; 
        left:73.8%; 
        margin-top:-17em; 
        margin-left:-17em; 
        display:inline-block; 
        width:20em; 
        height:20em; 
        overflow:hidden;
    }
    #section-intro .letter6 { 
        position:absolute; 
        top: 85.9%; 
        left:87.5%; 
        margin-top:-17em; 
        margin-left:-17em; 
        display:inline-block; 
        width:20em; 
        height:20em; 
        overflow:hidden;
    }   

    #section-intro .letter4 .letter-mid4 .video video {
        object-fit: inherit;
    }
    .summer-button {
        position: absolute;
        top: 10%;
        left: 40%;
        text-align: center;
    }
}