@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: 'Rubik', sans-serif;
  --font-serif: 'Cardo', serif;
}
body {
  width: 100vw;
  font-family: 'Mochiy Pop P One', sans-serif;
}

img {
 height: 100%;
 width: auto;
}
.header {
    background-image:  url(img/bg-header.jpg);
    background-size: cover;
    height: 100vh;
}
.navbar-light .navbar-brand {
  color: yellow;
  text-transform: uppercase;
  font-weight: 700;
}
.header__description-with-buttons {
    padding-top: 50%;
}
.header__description {
    text-align: center;
}
.btn-header {
    text-decoration: none;
    color: white;
    font-weight: 700;
    background-color: limegreen;
    padding: 10px 20px;
    border-radius: 14px;
}

.header__buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 80px;
    text-align: center;
}

.navbar-toggler {
    background-color: limegreen !important;
    width: 60px !important;
    height: 60px !important;
    border-radius: 50%;
    position: absolute ;
    top: 20% !important;
    left: 74.5% !important;
    cursor: pointer;
}
.burger_mobile {
    display: block;
    height: 3.5px;
    background-color: rgb(255, 251, 0);
    content: '';
    width: 30px;
    margin: 0 auto;
    margin-top: 30px;
    position: absolute;
    top: -19%;
    left: 25%;
}
.burger_mobile::before {
  display: block;
  height: 3px;
  background-color: rgb(255, 251, 0);
  content: '';
  width: 30px;
  margin: 0 auto;
  margin-top: 10px;
  position: absolute;
}
.burger_mobile::after {
    display: block;
    height: 3px;
    background-color: rgb(255, 251, 0);
    content: '';
    width: 30px;
    margin: 0 auto;
    margin-top: 20px;
    position: absolute;
}

.header__description {
  margin-top: 100px;
}
.nav-link {
  color: whitesmoke !important;
  display: flex;
}
.nav-link:hover {
  color: rgb(255, 251, 0) !important;
}
.btn-header:hover {
  color: white !important;
  transition: .3s ease-out;
}
.btn-header:focus{
  transition: .3s ease-out;
}

.header__description p {
  font-size: 40px;
  color: white;
}
  .text-deco {
    color: rgb(94, 255, 0);
  }
  .header__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .dropdown-menu {
    background-color: transparent !important;
    border: 1px solid rgba(248, 252, 7, 0.993);
  }
  .dropdown-divider {
    height: 2px !important;
    opacity: 1;
    color: rgb(248, 252, 7);
  }
  .dropdown-item {
    color: white !important;
  }

  .our-tours {
    display: grid;
    grid-gap: 1rem;
    padding: 1rem;
    max-width: 1024px;
    margin: 0 auto;
    font-family: var(--font-sans);
 }
  @media (min-width: 600px) {
    .our-tours {
      grid-template-columns: repeat(2, 1fr);
   }
 }
  @media (min-width: 800px) {
    .our-tours {
      grid-template-columns: repeat(4, 1fr);
   }
 }
  .card {
    position: relative;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    padding: 1rem;
    width: 100%;
    text-align: center;
    color: whitesmoke;
    background-color: whitesmoke;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
 }
  @media (min-width: 600px) {
    .card {
      height: 350px;
   }
 }
  .card:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-size: cover;
    background-position: 0 0;
    transition: transform calc(var(--d) * 1.5) var(--e);
    pointer-events: none;
 }
  .card:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    pointer-events: none;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.320) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.540) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.790) 100%);
    transform: translateY(-50%);
    transition: transform calc(var(--d) * 2) var(--e);
 }
  .card:nth-child(1):before {
    background-image: url(img/fishing.jpg);
 }
  .card:nth-child(2):before {
    background-image: url(img/mountings.jpg);
 }
  .card:nth-child(3):before {
    background-image: url(img/mushrooms.jpg);
 }
  .card:nth-child(4):before {
    background-image: url(img/river.jpg);
 }
 .card:nth-child(5):before {
  background-image: url(img/pip-ivan.jpg);
}
.card:nth-child(6):before {
  background-image: url(img/trout.jpg);
}
.card:nth-child(7):before {
  background-image: url(img/paragliding.jpg);
}
.card:nth-child(8):before {
  background-image: url(img/rafting.jpg);
}
  .content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem;
    transition: transform var(--d) var(--e);
    z-index: 1;
 }
  .content > * + * {
    margin-top: 1rem;
 }
  .title {
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.2;
 }
  .copy {
    font-family: var(--font-serif);
    font-size: 1.125rem;
    font-style: italic;
    line-height: 1.35;
 }
  .btn {
    cursor: pointer;
    margin-top: 1.5rem;
    padding: 0.75rem 1.5rem;
    font-size: 0.65rem;
    font-weight: bold;
    letter-spacing: 0.025rem;
    text-transform: uppercase;
    color: white;
    background-color: black;
    border: none;
 }
  .btn:hover {
    background-color: #f88d00;
 }
  .btn:focus {
    outline: 1px dashed yellow;
    outline-offset: 3px;
 }
  @media (hover: hover) and (min-width: 600px) {
    .card:after {
      transform: translateY(0);
   }
    .content {
      transform: translateY(calc(100% - 4.5rem));
   }
    .content > *:not(.title) {
      opacity: 0;
      transform: translateY(1rem);
      transition: transform var(--d) var(--e), opacity var(--d) var(--e);
   }
    .card:hover, .card:focus-within {
      align-items: center;
   }
    .card:hover:before, .card:focus-within:before {
      transform: translateY(-4%);
   }
    .card:hover:after, .card:focus-within:after {
      transform: translateY(-50%);
   }
    .card:hover .content, .card:focus-within .content {
      transform: translateY(0);
   }
    .card:hover .content > *:not(.title), .card:focus-within .content > *:not(.title) {
      opacity: 1;
      transform: translateY(0);
      transition-delay: calc(var(--d) / 8);
   }
    .card:focus-within:before, .card:focus-within:after, .card:focus-within .content, .card:focus-within .content > *:not(.title) {
      transition-duration: 0s;
   }
 }


 .btn-footer-bg {
   background-color: white;
 }
 .fa-google {
  background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
 }
 .fa-twitter {
   color: #00ACEE;
 }
 .fa-facebook-f {
   color: blue;
 }
 .fa-instagram {
   background: -webkit-radial-gradient(33% 100% circle, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
   background: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
 }
 .fa-linkedin-in {
   color: #007AB9;
 }
 .btn-floating:hover {
  background-color: whitesmoke;
 }


 @media (min-width: 991px) {
  .navbar-light {
    font-size: 25px;
    background-color: black !important;
  }

  .dropdown-menu {
    background-color: black !important;
  }

  .navbar-brand {
    color: White !important;
  }

  .navbar-colapse {
    color: red !important;
  }
  .navbar-collapse {
    flex-grow: 0;
  }
 }


 @media (min-width: 670px) {
  .header__description p {
    color: black !important;
    margin-top: -50px;
   }
   .nav-link {
     font-size: 20px;
   }
 }

 @media (min-width: 575px) {
  .btn-header {
    background-color: yellow;
    color: black !important;
 }
 .header__buttons  {
   justify-content: center;
   gap: 20px;
 }
 }

 @media (min-width: 1000px) {
  .header__description p {
    position: absolute;
    top: 25%;
    left: 61%;
  }

  .btn-header-left {
    position: absolute;
    top: 40%;
    left: 70%;
  }
  .btn-header-right {
    position: absolute;
    top: 40%;
    left: 80%;
  }
  .btn-header:hover {
    background-color: limegreen;
    color: yellow !important; 
  }
  }
 
