@import url(css/section-summer.css);
@import url(css/modal.css);
@import url(css/fade-in-section.css);
@import url(css/scroll-bar.css);

@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --d: 700ms;
    --e: cubic-bezier(0.19, 1, 0.22, 1);
    --font-sans: 'Rubik', sans-serif;
    --font-serif: 'Cardo', serif;
}

body {
    width: 100vw;
    font-family: 'Mochiy Pop P One', sans-serif;
    overflow-x: hidden;
}
 
img {
    height: 100%;
    width: auto; 
}

.header {
    background-image: url(img/hero.jpg);
    width: auto;
    background-size: cover;
    height: 100vh;
}


@media (min-width: 320px) {
.navbar-toggler {   
    background-color: grey;    
    width: 60px;  
    height: 60px;
    border-radius: 50%;
    top: 10%;
    left: 74.5%;
    cursor: pointer;
    position: sticky;
    z-index: 1000000000000000000000000;
}

.burger_mobile {
    display: block;
    height: 3px;
    background-color: orange; 
    content: '';
    width: 30px;
    margin: 0 auto;
    z-index: 100000000000000;
    position: absolute;
    top: 30%;
    left: 26%;
    
}

.burger_mobile::before {
    display: block;
    height: 3px;
    background-color: orange;
    content: '';
    width: 30px;
    margin: 0 auto;
    margin-top: 10px;
    position: absolute;
    top: 20%;
    left: 1%;
    z-index: 100000000000000;
}

.burger_mobile::after {
    display: block;
    height: 3.5px;
    background-color: orange;
    content: '';
    width: 30px;
    margin: 0 auto;
    margin-top: 20px;
    position: absolute;
    top: 20%;
    left: 1%;
    z-index: 100000000000000;
}
.header__description p {
    padding-top: 140px;
}
}
.header_navigation_items {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 50px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
@media (max-height: 426px) {
    .header_navigation_items {
        flex-direction: row;
        gap: 20px;
    }
    .modal-social-media {
        left: 33%;
    }
}

.desktop-navigation {
    background-color: rgba(8, 8, 8, 0.336);
    position: fixed;
    top: 0%;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    z-index: 10000;
    animation: fadeInAnimation 3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        transform: translateX(-500px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
     }
}



.desktop-navigation-link {
    text-decoration: none;
    color: white;
    width: auto;
    padding: 3px 3px;
    border-radius: 50px;
    transition: all 0.3s;
}
@media (max-width: 799px) {
    .desktop-navigation {
        display: none;
    }

}
.desktop-navigation-link:hover {
    width: auto;
    padding: 7px 10px;
    margin: 10px;
    border-radius: 50px;
    background-color: white;
    color: black;
}
.header__description p {
    font-size: 40px;
    color: white;
}

.header__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.btn-check:focus+.btn-outline-light,
.btn-outline-light:focus {
    box-shadow: none;
    cursor: pointer;
}
.card {
    position: relative;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    padding: 1rem;
    width: 100%;
    text-align: center;
    color: whitesmoke;
    background-color: whitesmoke;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}
@media (min-width: 600px) {
    .card {
        height: 350px;
    }
}
.card:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-size: cover;
    background-position: 0 0;
    transition: transform calc(var(--d) * 1.5) var(--e);
    pointer-events: none;
}
.card:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    pointer-events: none;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.320) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.540) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.790) 100%);
    transform: translateY(-50%);
    transition: transform calc(var(--d) * 2) var(--e);
}
.card:nth-child(1):before {
    background-image: url(img/fishing.jpg);
}

.card:nth-child(2):before {
    background-image: url(img/mountings.jpg);
}

.card:nth-child(3):before {
    background-image: url(img/mushrooms.jpg);
}

.card:nth-child(4):before {
    background-image: url(img/river.jpg);
}

.card:nth-child(5):before {
    background-image: url(img/pip-ivan.jpg);
}

.card:nth-child(6):before {
    background-image: url(img/trout.jpg);
}

.card:nth-child(7):before {
    background-image: url(img/paragliding.jpg);
}

.card:nth-child(8):before {
    background-image: url(img/rafting.jpg);
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem;
    transition: transform var(--d) var(--e);
    z-index: 1;
}

.content>*+* {
    margin-top: 1rem;
}

.title {
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.2;
}

.copy {
    font-family: var(--font-serif);
    font-size: 1.125rem;
    font-style: italic;
    line-height: 1.35;
}

.btn {
    cursor: pointer;
    margin-top: 1.5rem;
    padding: 0.75rem 1.5rem;
    font-size: 0.65rem;
    font-weight: bold;
    letter-spacing: 0.025rem;
    text-transform: uppercase;
    color: white;
    background-color: black;
    border: none;
}

.btn:hover {
    background-color: #f88d00;
}

.btn:focus {
    outline-offset: 3px;
    border: none;
}

@media (hover: hover) and (min-width: 600px) {
    .card:after {
        transform: translateY(0);
    }
    .content {
        transform: translateY(calc(100% - 4.5rem));
    }
    .content>*:not(.title) {
        opacity: 0;
        transform: translateY(1rem);
        transition: transform var(--d) var(--e), opacity var(--d) var(--e);
    }
    .card:hover,
    .card:focus-within {
        align-items: center;
    }
    .card:hover:before,
    .card:focus-within:before {
        transform: translateY(-4%);
    }
    .card:hover:after,
    .card:focus-within:after {
        transform: translateY(-50%);
    }
    .card:hover .content,
    .card:focus-within .content {
        transform: translateY(0);
    }
    .card:hover .content>*:not(.title),
    .card:focus-within .content>*:not(.title) {
        opacity: 1;
        transform: translateY(0);
        transition-delay: calc(var(--d) / 8);
    }
    .card:focus-within:before,
    .card:focus-within:after,
    .card:focus-within .content,
    .card:focus-within .content>*:not(.title) {
        transition-duration: 0s;
    }
}

.btn-footer-bg {
    background-color: white;
}

.fa-google {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

.fa-twitter {
    color: #00ACEE;
}

.fa-facebook-f {
    color: blue;
}

.fa-instagram {
    background: -webkit-radial-gradient(33% 100% circle, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
    background: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-linkedin-in {
    color: #007AB9;
}

.btn-floating:hover {
    background-color: whitesmoke;
}


a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

button {
    appearance: none;
    background: linear-gradient(to left, #08f700, #fbff00);
    border-radius: 20px;
    outline: 0;
    border: 0;
    padding: 10px 15px;
    color: black;
    width: 150px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 900;
    transition-duration: 0.25s;
}

.sign-in-form-desktop {
    background: linear-gradient(to left, #08f700, #fbff00);
    border-radius: 20px;
    border: 1px solid black;
    width: 150px;
    height: 45px;
    color: black;
    cursor: pointer;
    font-size: 18px;
    font-weight: 900;
    transition-duration: 0.25s;
}

button:active {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
}

button:focus {
    outline: none;
}

form {
    background-color: #FFFFFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    margin-bottom: 50px;
}

.form-heading {
    text-align: center;
    margin: 30px 40px;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    -webkit-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}

.sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.right-panel-active .sign-in-container {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

.sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container.right-panel-active .sign-up-container {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    -webkit-animation: show 0.6s;
    animation: show 0.6s;
}

@-webkit-keyframes show {
    0%,
    49.99% {
        opacity: 0;
        z-index: 1;
    }
    50%,
    100% {
        opacity: 1;
        z-index: 5;
    }
}

@keyframes show {
    0%,
    49.99% {
        opacity: 0;
        z-index: 1;
    }
    50%,
    100% {
        opacity: 1;
        z-index: 5;
    }
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
    z-index: 100;
}

.container.right-panel-active .overlay-container {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

.overlay {
    background: #a6ff41;
    background: linear-gradient(to right, #08f700, #fbff00);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: black;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
}

.overlay-panel {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
}

.overlay-left {
    -webkit-transform: translateX(-20%);
    transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.overlay-right {
    right: 0;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.container.right-panel-active .overlay-right {
    -webkit-transform: translateX(20%);
    transform: translateX(20%);
}

.social-container {
    margin: 20px 0;
}

.social-container a {
    border: 1px solid #DDDDDD;
    border-radius: 50%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
}


/**********************************/

@media (max-width: 600px) {
    #container,
    .form-heading {
        display: none;
    }
    form {
        background-color: transparent;
    }
}


/*************************/

.mobile-form {
    color: black;
    font-weight: 300;
    width: 100%;
}

.mobile-form ::-webkit-input-placeholder {
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
    font-weight: 300;
}

.mobile-form :-moz-placeholder {
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
    opacity: 1;
    font-weight: 300;
}

.mobile-form ::-moz-placeholder {
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
    opacity: 1;
    font-weight: 300;
}

.mobile-form :-ms-input-placeholder {
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
    font-weight: 300;
}

.wrapper {
    background: -webkit-linear-gradient(top left, rgba(51, 255, 1, 0.993) 0%, rgb(251, 255, 5) 100%);
    background: -moz-linear-gradient(top left, rgba(51, 255, 1, 0.993) 0%, rgb(251, 255, 5) 100%);
    background: -o-linear-gradient(top left, rgba(51, 255, 1, 0.993) 0%, rgb(251, 255, 5) 100%);
    background: linear-gradient(to bottom right, rgba(51, 255, 1, 0.993) 0%, rgb(251, 255, 5) 100%);
    display: flex;
    overflow: hidden;
}

.wrapper.form-success .container h1 {
    transform: translateY(85px);
}

.container-mobile-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 80px 0;
    height: 400px;
    text-align: center;
}

.container-mobile-form .mobile-form-header {
    font-size: 40px;
    transition-duration: 1s;
    transition-timing-function: ease-in-put;
    font-weight: 200;
}

.form-mobile {
    padding: 20px 0;
    position: relative;
    z-index: 2;
}

form input {
    display: block;
    appearance: none;
    outline: 0;
    background-color: rgb(243, 241, 241);
    width: 250px;
    border-radius: 3px;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
    text-align: center;
    font-size: 18px;
    color: rgb(3, 0, 0);
    transition-duration: 0.25s;
    font-weight: 300;
}

@media (min-width: 320px) {
    form input {
        width: 150px;
        border-radius: 40px;
    }
}

form input:hover {
    background-image: linear-gradient(to left, #08f700, #fbff00);
}

form input:focus {
    background-color: rgba(143, 142, 142, 0.445);
    color: black;
    width: 300px;
}

form button {
    appearance: none;
    background: linear-gradient(to left, #08f700, #fbff00);
    border-radius: 20px;
    outline: 0;
    border: 0;
    padding: 10px 15px;
    color: black;
    width: 150px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 900;
    transition-duration: 0.25s;
}

form button:hover {
    background-color: #f5f7f9;
}

@media (min-width: 601px) {
    #container,
    .form-heading {
        display: block;
    }
    .mobile-form {
        display: none;
    }
}


/*CARUSEL*/


@media (min-width: 800px) {
    #works .carousel {
        max-width: 1200px;
        margin: 30px auto;
        width: 100%;
    }
    
    #works .carousel-wrapper {
        margin: 10px 10px;
        overflow: hidden;
        position: relative;
    }
    
    #works .carousel-items {
        width: 10000px;
        position: relative;
    }
    
    #works .carousel-block {
        float: left;
        width: 270px;
        height: 100%;
        overflow: hidden;
        padding: 10px;
    }
    
    #works .carousel-block .work {
        display: block;
    }
    
    #works .carousel-block .work img {
        height: 200px;
    }
    
    #works .carousel-button-left a,
    #works .carousel-button-right a {
        width: 50px;
        height: 50px;
        position: relative;
        top: 150px;
        cursor: pointer;
        text-decoration: none;
    }
#works .carousel-button-left a {
    float: left;
    background: url(img/icons/chevron-left-solid.svg);
    background-size: cover;
    width: 30px;
}

#works .carousel-button-right a {
    float: right;
    background: url(img/icons/chevron-left-solid.svg);
    background-size: cover;
    transform: rotate(180deg);
    width: 30px;
    margin-left: 10px;
}
}
/******************************/
@media (min-width: 320px) {
    .carousel-items {
    display: grid;
    grid-gap: 0.8rem;
    padding: 1rem;
    max-width: fit-content;
    margin: 0 0;
    font-family: var(--font-sans);
    }
    
}

@media (min-width: 600px) {
    .carousel-items {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0.8rem;
    }
}
@media (min-width: 800px) {
    .carousel-items {
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: 1fr;
        grid-gap: 0.1rem;
    }
}
@media (min-width: 800px) {
    #works {
        display: block;
        margin: 0;
        padding: 0;
    }
    #works .card-carousel {
        max-width: auto;
        margin: 20px 0;
    }
    #works .carousel-button-right a {
        margin-left: 5px;
    }
    .btn-check:focus+.btn-outline-light,
    .btn-outline-light:focus {
        box-shadow: none;
    }
}
    .card-carousel1,
    .card-carousel2,
    .card-carousel3,
    .card-carousel4,
    .card-carousel5,
    .card-carousel6,
    .card-carousel7,
    .card-carousel8 {
        position: relative;
        display: flex;
        align-items: flex-end;
        overflow: hidden;
        padding: 1rem;
        width: 100%;
        text-align: center;
        color: whitesmoke;
        background-color: whitesmoke;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
    }
    @media (min-width: 600px) {
        .card-carousel1,
        .card-carousel2,
        .card-carousel3,
        .card-carousel4,
        .card-carousel5,
        .card-carousel6,
        .card-carousel7,
        .card-carousel8 {
            height: 350px;
        }
    }
    .card-carousel1:before,
    .card-carousel2:before,
    .card-carousel3:before,
    .card-carousel4:before,
    .card-carousel5:before,
    .card-carousel6:before,
    .card-carousel7:before,
    .card-carousel8:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 110%;
        background-size: cover;
        background-position: 0 0;
        transition: transform calc(var(--d) * 1.5) var(--e);
        pointer-events: none;
    }
    .card-carousel1:after,
    .card-carousel2:after,
    .card-carousel3:after,
    .card-carousel4:after,
    .card-carousel5:after,
    .card-carousel6:after,
    .card-carousel7:after,
    .card-carousel8:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 200%;
        pointer-events: none;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.320) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.540) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.790) 100%);
        transform: translateY(-50%);
        transition: transform calc(var(--d) * 2) var(--e);
    }
    .content {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 1rem;
        transition: transform var(--d) var(--e);
        z-index: 1;
    }
    .content>*+* {
        margin-top: 1rem;
    }
    .title {
        font-size: 1.3rem;
        font-weight: bold;
        line-height: 1.2;
    }
    .copy {
        font-family: var(--font-serif);
        font-size: 1.125rem;
        font-style: italic;
        line-height: 1.35;
    }
    .btn {
        cursor: pointer;
        margin-top: 1.5rem;
        padding: 0.75rem 1.5rem;
        font-size: 0.65rem;
        font-weight: bold;
        letter-spacing: 0.025rem;
        text-transform: uppercase;
        color: white;
        background-color: black;
        border: none;
    }
    .btn:hover {
        background-color: #f88d00;
    }
    .btn:focus {
        outline-offset: 3px;
        border: none;
    }
    @media (hover: hover) and (min-width: 600px) {
        .card-carousel1:after,
        .card-carousel2:after,
        .card-carousel3:after,
        .card-carousel4:after,
        .card-carousel5:after,
        .card-carousel6:after,
        .card-carousel7:after,
        .card-carousel8:after {
            transform: translateY(0);
        }
        .content {
            transform: translateY(calc(100% - 4.5rem));
        }
        .content>*:not(.title) {
            opacity: 0;
            transform: translateY(1rem);
            transition: transform var(--d) var(--e), opacity var(--d) var(--e);
        }
        .card-carousel1:hover,
        .card-carousel1:focus-within,
        .card-carousel2:hover,
        .card-carousel2:focus-within,
        .card-carousel3:hover,
        .card-carousel3:focus-within,
        .card-carousel4:hover,
        .card-carousel4:focus-within,
        .card-carousel5:hover,
        .card-carousel5:focus-within,
        .card-carousel6:hover,
        .card-carousel6:focus-within,
        .card-carousel7:hover,
        .card-carousel7:focus-within,
        .card-carousel8:hover,
        .card-carousel8:focus-within {
            align-items: center;
        }
        .card-carousel1:hover:before,
        .card-carousel1:focus-within:before,
        .card-carousel2:hover:before,
        .card-carousel2:focus-within:before,
        .card-carousel3:hover:before,
        .card-carousel3:focus-within:before,
        .card-carousel4:hover:before,
        .card-carousel4:focus-within:before,
        .card-carousel5:hover:before,
        .card-carousel5:focus-within:before,
        .card-carousel6:hover:before,
        .card-carousel6:focus-within:before,
        .card-carousel7:hover:before,
        .card-carousel7:focus-within:before,
        .card-carousel8:hover:before,
        .card-carousel8:focus-within:before {
            transform: translateY(-4%);
        }
        .card-carousel1:hover:after,
        .card-carousel1:focus-within:after,
        .card-carousel2:hover:after,
        .card-carousel2:focus-within:after,
        .card-carousel3:hover:after,
        .card-carousel3:focus-within:after,
        .card-carousel4:hover:after,
        .card-carousel4:focus-within:after,
        .card-carousel5:hover:after,
        .card-carousel5:focus-within:after,
        .card-carousel6:hover:after,
        .card-carousel6:focus-within:after,
        .card-carousel7:hover:after,
        .card-carousel7:focus-within:after,
        .card-carousel8:hover:after,
        .card-carousel8:focus-within:after {
            transform: translateY(-50%);
        }
        .card-carousel1:hover .content,
        .card-carousel1:focus-within .content,
        .card-carousel2:hover .content,
        .card-carousel2:focus-within .content,
        .card-carousel3:hover .content,
        .card-carousel3:focus-within .content,
        .card-carousel4:hover .content,
        .card-carousel4:focus-within .content,
        .card-carousel5:hover .content,
        .card-carousel5:focus-within .content,
        .card-carousel6:hover .content,
        .card-carousel6:focus-within .content,
        .card-carousel7:hover .content,
        .card-carousel7:focus-within .content,
        .card-carousel8:hover .content,
        .card-carousel8:focus-within .content {
            transform: translateY(0);
        }
        .card-carousel1:hover .content>*:not(.title),
        .card-carousel1:focus-within .content>*:not(.title),
        .card-carousel2:hover .content>*:not(.title),
        .card-carousel2:focus-within .content>*:not(.title),
        .card-carousel3:hover .content>*:not(.title),
        .card-carousel3:focus-within .content>*:not(.title),
        .card-carousel4:hover .content>*:not(.title),
        .card-carousel4:focus-within .content>*:not(.title),
        .card-carousel5:hover .content>*:not(.title),
        .card-carousel5:focus-within .content>*:not(.title),
        .card-carousel6:hover .content>*:not(.title),
        .card-carousel6:focus-within .content>*:not(.title),
        .card-carousel7:hover .content>*:not(.title),
        .card-carousel7:focus-within .content>*:not(.title),
        .card-carousel8:hover .content>*:not(.title),
        .card-carousel8:focus-within .content>*:not(.title) {
            opacity: 1;
            transform: translateY(0);
            transition-delay: calc(var(--d) / 8);
        }
        .card-carousel1:focus-within:before,
        .card-carousel1:focus-within:after,
        .card-carousel1:focus-within .content,
        .card-carousel1:focus-within .content>*:not(.title),
        .card-carousel2:focus-within:before,
        .card-carousel2:focus-within:after,
        .card-carousel2:focus-within .content,
        .card-carousel2:focus-within .content>*:not(.title),
        .card-carousel3:focus-within:before,
        .card-carousel3:focus-within:after,
        .card-carousel3:focus-within .content,
        .card-carousel3:focus-within .content>*:not(.title),
        .card-carousel4:focus-within:before,
        .card-carousel4:focus-within:after,
        .card-carousel4:focus-within .content,
        .card-carousel4:focus-within .content>*:not(.title),
        .card-carousel5:focus-within:before,
        .card-carousel5:focus-within:after,
        .card-carousel5:focus-within .content,
        .card-carousel5:focus-within .content>*:not(.title),
        .card-carousel6:focus-within:before,
        .card-carousel6:focus-within:after,
        .card-carousel6:focus-within .content,
        .card-carousel6:focus-within .content>*:not(.title),
        .card-carousel7:focus-within:before,
        .card-carousel7:focus-within:after,
        .card-carousel7:focus-within .content,
        .card-carousel7:focus-within .content>*:not(.title),
        .card-carousel8:focus-within:before,
        .card-carousel8:focus-within:after,
        .card-carousel8:focus-within .content,
        .card-carousel8:focus-within .content>*:not(.title) {
            transition-duration: 0s;
        }
    }
    .card-carousel1 {
        background-image: url(img/rafting.jpg);
        background-size: cover;
    }
    .card-carousel2 {
        background-image: url(img/paragliding.jpg);
        background-size: cover;
    }
    .card-carousel3 {
        background-image: url(img/trout.jpg);
        background-size: cover;
    }
    .card-carousel4 {
        background-image: url(img/pip-ivan.jpg);
        background-size: cover;
    }
    .card-carousel5 {
        background-image: url(img/river.jpg);
        background-size: cover;
    }
    .card-carousel6 {
        background-image: url(img/mushrooms.jpg);
        background-size: cover;
    }
    .card-carousel7 {
        background-image: url(img/mountings.jpg);
        background-size: cover;
    }
    .card-carousel8 {
        background-image: url(img/fishing.jpg);
        background-size: cover;
    }


#logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  #logo path:nth-child(1){
  stroke-dasharray: 456.5312805175781;
  stroke-dashoffset: 456.5312805175781;
  animation: line-animation 3s ease forwards;
  }
  #logo path:nth-child(2){
  stroke-dasharray: 499.8597717285156;
  stroke-dashoffset: 499.8597717285156;
  animation: line-animation 3s ease forwards;
  }
  #logo path:nth-child(3){
    stroke-dasharray: 364.35394287109375;
  stroke-dashoffset: 364.35394287109375;
  animation: line-animation 3s ease forwards;
  }
  #logo path:nth-child(4){
    stroke-dasharray: 416.0973815917969;
    stroke-dashoffset: 416.0973815917969;
    animation: line-animation 3s ease forwards;
  }
  #logo path:nth-child(5){
  stroke-dasharray: 376.706787109375;
  stroke-dashoffset: 376.706787109375;
  animation: line-animation 3s ease forwards;
  }
  #logo path:nth-child(6){
  stroke-dasharray: 641.7442626953125;
  stroke-dashoffset:641.7442626953125;
  animation: line-animation 3s ease forwards;
  }
  #logo path:nth-child(7){
  stroke-dasharray: 641.7459716796875;
  stroke-dashoffset: 641.7459716796875;
  animation: line-animation 3s ease forwards;
  }
  #logo path:nth-child(8){
  stroke-dasharray: 364.35577392578125;
  stroke-dashoffset: 364.35577392578125;
  animation: line-animation 3s ease forwards;
  }
  #logo path:nth-child(9){
  stroke-dasharray: 377.0987854003906;
  stroke-dashoffset: 377.0987854003906;
  animation: line-animation 3s ease forwards;
  }
  #logo path:nth-child(10){
  stroke-dasharray: 328.69122314453125;
  stroke-dashoffset: 328.69122314453125;
  animation: line-animation 3s ease forwards;
  }
  #logo path:nth-child(11){
  stroke-dasharray: 416.0998840332031;
  stroke-dashoffset: 416.0998840332031;
  animation: line-animation 3s ease forwards;
  }
  #logo path:nth-child(12){
  stroke-dasharray: 452.5084533691406;
  stroke-dashoffset: 452.5084533691406;
  animation: line-animation 3s ease forwards;
  }
  #logo path:nth-child(13){
  stroke-dasharray: 364.354248046875;
  stroke-dashoffset: 364.354248046875;
  animation: line-animation 3s ease forwards;
  }
  #logo path:nth-child(14){
  stroke-dasharray: 425.55535888671875;
  stroke-dashoffset: 425.55535888671875;
  animation: line-animation 3s ease forwards;
  }
  #logo path:nth-child(15){
  stroke-dasharray: 377.09844970703125;
  stroke-dashoffset: 279.0760192871094;
  animation: line-animation 2s ease forwards;
  }
  #logo path:nth-child(16){
  stroke-dasharray: 304.19366455078125;
  stroke-dashoffset: 304.19366455078125;
  animation: line-animation 2s ease forwards;
  }
  
  @keyframes line-animation {
    to {
      stroke-dashoffset: 0;
    }
  }
  @media (max-width: 800px) {
      #logo {
          width: 70%;
          top: 45%;
      }
      .header_path {
        stroke: black;
      }
  }

  